# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log

# Virtual env
.venv/
env/
venv/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.spec

# BAT files
*.bat

# Model artifacts
outputs/*

# Data files – ignore everything in data except specific tracked files
data/*
!data/.gitkeep  # use a placeholder if you want Git to keep the folder

# Secrets
.env

# Requests cache
.cache*
